{% extends "base.html" %}
    {% load static %}

    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}">
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'details_projects.css' %}">
    <link rel="stylesheet" href="{% static 'center.css' %}">
    <link rel="stylesheet" href="{% static 'projects_styles.css' %}">

    {% endblock %}
    
    {% block title %} Expens Add {% endblock %}
    {% block content %} 
<div class="body-div">
    {% include 'partials/_left_nav_bar.html' %}
    <div class="right-menu">
        <div class="nav-bar">
            <div class="nav-span">
                <div class="backBtn">
                    <a href="{% url 'projects' %}">
                        <button id="backBtn" class="button-project">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                    </a>
                    <span>
                        </span>
                </div>
                <span></span>
            </div>
        </div>
        <div class="center">
            <div class="container projeBaslatContainer">
            <div class="title">Gider Ekle</div>
            <form id="my-form" action="{% url 'expenses_add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="expenses_form">
                <div class="user-details">
                   <div class="input-box" name="ProjectName_Expenses">
                      <span class="details">Proje Adı</span>
                      {{ expenses_form.ProjectName_Expenses }}
                      {% if expenses_form.ProjectName_Expenses.errors %}
                    <div class="error-container">
                        <span class="error-triangle"></span>
                        <ul class="errorlist">
                            {% for error in expenses_form.ProjectName_Expenses.errors %}
                                <li class="error-message">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                   </div>
                   <div class="input-box" name="CompanyName_Paying_Expenses">
                      <span class="details">Ödeme Yapılan Firma<button type="button" id="paying-firma-add-btn" class="paying-firma-add-btn"><i class="fa-solid fa-plus"></i></button></span>
                      {{ expenses_form.CompanyName_Paying_Expenses }}
                      {% if expenses_form.CompanyName_Paying_Expenses.errors %}
                      <div class="error-container">
                          <span class="error-triangle"></span>
                          <ul class="errorlist">
                              {% for error in expenses_form.CompanyName_Paying_Expenses.errors %}
                                  <li class="error-message">{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                   </div>
                   <div class="input-box" name="CompanyName_FromPaymentMade_Expenses"> 
                      <span class="details">Ödeme Yapan Firma</span>
                      {{ expenses_form.CompanyName_FromPaymentMade_Expenses }}
                   </div>
                   <div class="input-box">
                      <span class="details">Gider Detayı</span>
                      {{ expenses_form.ExpensDetails_Expenses }}
                   </div>
                   <div class="input-box">
                      <span class="details">Tutar (₺)</span>
                      <input class="coc-input" type="text" name="Amount_Expenses" id="id_Amount_Expenses" step="0.0001">
                   </div>
                   <div class="input-box">
                      <span class="details">Dolar Kuru (₺)</span>
                      {{ expenses_form.Dollar_Rate_Expenses }}
                   </div>
                   <div class="input-box">
                      <span class="details">Banka</span>
                      {{ expenses_form.Bank_Expenses }}
                   </div>
                  <div class="input-box">
                      <span class="details">Tarih</span>
                      <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" id="id_Date_Expenses" type="date" name="Date_Expenses"  min='2000-01-01' max='2099-01-01' />
                   </div>
                   <div class="input-box">
                      <span class="details">Kur Saati</span>
                      <select name="" id="">
                         <option value="">15:30'dan Önce</option>
                         <option value="">15:30'dan Sonra</option>
                      </select>
                   </div>
                </div>
                    <div class="button">
                    <input id="project-create-btn" type="submit" value="Gider" />
                    </div>
            </form>
        </div>

        <div class="window payingFirmaAddWindow">
            <div class="container">
                  <h3 id="payingFirmaAdd-modal" class="modal-kapat">X</h3>
                  <div class="title">Firma Ekle</div>
               <form action="{% url 'expenses_add' %}" method="post">
                     {% csrf_token %}
                     <input type="hidden" name="form_type" value="supplier_form">
                     <div class="user-details"> 
                        <div class="input-box" name="CompanyName_Supplier">
                          <span class="details">Firma Adı</span>
                          {{ supplier_form.CompanyName_Supplier }}
                        </div>                        
                  </div>
                     <div class="button">
                           <input type="submit" value="Kaydet">
                     </div>
               </form>
            </div>
         </div>
  
    </div>
</div>
          
    {% block js_files %} 
    <script src="{% static 'expenses_add.js' %}"></script> 

        <script>
            $(document).ready(function() {
                // Hata mesajını 3 saniye sonra kaldır
                setTimeout(function() {
                    $(".error-container").fadeOut(500, function() {
                        $(this).remove();
                    });
                }, 2000);
            });
            document.addEventListener("DOMContentLoaded", function() {
                // firma-add-btn butonunu seçin
                var firmaAddBtn = document.getElementById("paying-firma-add-btn");

                // clientFirmaAddWindow penceresini seçin
                var clientFirmaAddWindow = document.querySelector(".payingFirmaAddWindow");

                // firma-add-btn butonuna tıklandığında
                firmaAddBtn.addEventListener("click", function() {
                    // clientFirmaAddWindow penceresinin görünürlüğünü değiştir
                    clientFirmaAddWindow.style.display = "flex";
                });

                // clientFirmaAdd-modal (X) butonuna tıklandığında
                var clientFirmaAddModal = document.getElementById("payingFirmaAdd-modal");
                clientFirmaAddModal.addEventListener("click", function() {
                    // clientFirmaAddWindow penceresinin görünürlüğünü gizle
                    clientFirmaAddWindow.style.display = "none";
                });
            });



    var amountInputForFormat = document.querySelector("#id_Amount_Expenses");
    var amountInputReformatBtn = document.querySelector("#project-create-btn");
    var form = document.querySelector("#my-form");
    var deger;
    
    amountInputReformatBtn.addEventListener("click", function(event) {
    event.preventDefault();
    amountInputForFormat.value = clear(deger);
    form.submit();
    });  
        
    runEventListeners();
    function runEventListeners(){
    amountInputForFormat.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var clearValue = clear(inputValue);
        var formatValue = format(clearValue);
        amountInputForFormat.value = formatValue;
        deger = formatValue;
    });
    }
    function clear(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır       
    if(value != undefined){
        var cleanString = value.replace(/[^0-9.]/g, '');
        return cleanString;    // Çıktı: "123456.789"  
    }else{
        var  cleanString = 0;
        return cleanString;
    } 
    }
    
    function format(number) {
    var indexOfDot = number.indexOf('.');
    
    if (indexOfDot !== -1) {
    var integerPart = number.slice(0, indexOfDot).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    var decimalPart = number.slice(indexOfDot + 1);
    return integerPart + '.' + decimalPart;
    } else {
    var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return formattedNumber; 
    }
    }



        </script> 
  
    {% endblock %}

  {% endblock %} 