{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'income_details.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      #payment_type_label{
        display: flex;
      }
      #last-date-add-btn, #last-date-delete-btn{
        margin-left: 7px;
        padding: 3px 8px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 5px;
      } 
    </style>
    {% endblock %}
    {% block title %} Income Details {% endblock %}
    {% block content %}
    <div class="body-div">      
   
      <div class="top-menu">
        <div id="title-div">
          <a href="{% url 'home' %}">
              <span class="first-line">SOVO</span>
              <span class="second-line">TOZOGLU</span>
          </a>
        </div>
        <div id="top-right-menu">
          <div class="menu-icon">
            {% if project %}
            <a href="{% url 'project_details' project_name=project.ProjectName %}">
                <button id="backBtn" class="button-project"><i class="fa-solid fa-arrow-left"></i></button>
            </a>
        {% endif %}        
          </div>
          
          <div id="is-bedeli-text"><span>{{project.ProjectName}} </span></div>
          
          
          <div class="content">
            <button id="gelir-ac" class="button2" >Gelir Ekle</button>
            <button class="button1">Filitrele</button>
            <div class="search">
              <div class="icon"></div>
              <div class="input">
                <input id="mysearch" type="text" placeholder="Ara">
              </div>
              <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="window gelirWindow">
        <div class="container">
           <h3 id="gelir-modal" class="modal-kapat">X</h3>
           <div class="title">Gelir Ekle</div>
          {% if project %}
           <form id="my-form" action="{% url 'income_details' project_name=project.ProjectName %}" method="post">
                  {% csrf_token %}
                <div class="user-details">

                    <div style="display:none;" class="input-box" name="ProjectName_Incomes">
                      <span class="details">Proje Adı</span>
                      <input  name="ProjectName_Incomes" value="{{ project.ProjectName }}">
                    </div>
                    <div class="input-box" name="CompanyName_ReceivePayment_Incomes">
                        <span class="details">Alıcı Firma</span>
                        {{ incomes_form.CompanyName_ReceivePayment_Incomes }}
                    </div>
                    <div class="input-box" name="Amount_Incomes">
                        <span class="details">Alınan Miktar (₺)</span>
                        <input class="coc-input" type="text" name="Amount_Incomes" id="id_Amount_Incomes" step="0.0001">
                    </div>
                    <div class="input-box" name="Dollar_Rate_Incomes">
                        <span class="details">Dolar Kuru (₺)</span>
                        {{ incomes_form.Dollar_Rate_Incomes }}
                    </div>
                  
                    <div class="input-box" name="PaymentType_Incomes">
                      <span id="payment_type_label" class="details">Ödeme Türü<button type="button" id="last-date-add-btn" class="last-date-add-btn"><i class="fa-solid fa-plus"></i></button><button style="display:none;" type="button" id="last-date-delete-btn" class="last-date-delete-btn"><i class="fa-solid fa-minus"></i></button></span>
                      {{ incomes_form.PaymentType_Incomes }}
                    </div>
                    <div class="input-box" id="chek_date_box">
                      <span class="details">Tarih </span>
                      <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" type="date" name="ChekDate_Incomes" id="id_ChekDate_Incomes" min='2000-01-01' max='2099-01-01' />
                    </div>
                    <div style="display: none;" class="input-box chek-last-date-box" >
                      <span class="details">Çek Son Kullanma Tarihi </span>
                      <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" type="date" name="LastChekDate_Incomes" id="id_LastChekDate_Incomes" min='2000-01-01' max='2099-01-01' />
                   </div>   
                   <div class="input-box">
                      <span class="details">Kur Saati</span>
                      <select name="" id="">
                         <option value="">15:30'dan Önce</option>
                         <option value="">15:30'dan Sonra</option>
                      </select>
                   </div> 
              </div>      
                <div class="button">  
                  <input id="project-create-btn" type="submit" value="Kaydet">
                </div>
            </form>
          {% endif %}
        </div>
      </div>
        <div id="container">
          
          <div class="firma-bar">
            <ul id="firmaUl">                
            </ul>
            
          </div>
          <div class="right-menu">            
            <div class="column view-1"><div id="gider-acc" class="head"><span>İş Bedeli - {{project.Cost_NotIncludingKDV}} $</div>
            <table id="table" class="table table-sortable">
              <thead>
                <th>Alıcı Firma</th>
                <th scope="col">Tarih</th>
                <th scope="col">Ödeme Türü</th>
                <th scope="col">Tutar(TL)</th>
                <th scope="col">Kur</th>
                <th scope="col">Tutar(USD)</th>
              </thead>  
              <tbody id="tbody">   
                {% for income in incomes %}
                <tr class="table-row">
                    <td><button type="button" class="edit-income-btn button2" style= "background: none; border:none;"><a href= "{% url 'income_edit' income_id=income.id %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></button>{{ income.CompanyName_ReceivePayment_Incomes }} </td>
                    <td>{{ income.ChekDate_Incomes|date:"d/m/Y" }}</td>
                    <td>{{ income.PaymentType_Incomes }} </td>
                    <td class="amount-column">{{ income.Amount_Incomes }} ₺</td>
                    <td class="amount-kur">{{ income.Dollar_Rate_Incomes }}₺</td>
                    <td class="amount-column2">{{ income.Amount_Usd_Incomes }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td class="right">Toplam:</td>
                  <td class="right" id="total-amount-TL">0.00₺</td>
                  <td></td>
                  <td class="right" id="total-amount-USD">0.00$</td>
                </tr>
              </tfoot>
          </table>     
                  
          </div>
          
        </div>
                      
        </div>        
      </div>
{% block js_files %} 
<script src="{% static 'income_details.js' %}"></script> 
<script>
  var amountInputForFormat = document.querySelector("#id_Amount_Incomes");
    var amountInputReformatBtn = document.querySelector("#project-create-btn");
    var form = document.querySelector("#my-form");
    var deger;
    
    amountInputReformatBtn.addEventListener("click", function(event) {
    event.preventDefault();
    amountInputForFormat.value = clear(deger);
    form.submit();
    });          

    runEventListeners();

    function runEventListeners(){
    amountInputForFormat.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var clearValue = clear(inputValue);
        var formatValue = format(clearValue);
        amountInputForFormat.value = formatValue;
        deger = formatValue;
    });
    }
    function clear(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır   
      if(value != undefined){
        var cleanString = value.replace(/[^0-9.]/g, '');
        return cleanString;    // Çıktı: "123456.789"  
    }else{
        var  cleanString = 0;
        return cleanString;
    }   
    }
    
    function format(number) {
    var indexOfDot = number.indexOf('.');
    
    if (indexOfDot !== -1) {
    var integerPart = number.slice(0, indexOfDot).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    var decimalPart = number.slice(indexOfDot + 1);
    return integerPart + '.' + decimalPart;
    } else {
    var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return formattedNumber; 
    }
    }

        var lastDateAddBtn = document.getElementById("last-date-add-btn");
        var lastDateDeleteBtn = document.getElementById("last-date-delete-btn");
        var chekLastDateBox = document.getElementById("id_boxLastChekDate_Incomes");
        var chekLastDateBox2 = document.querySelector('.chek-last-date-box');

        document.addEventListener("DOMContentLoaded", function() {
            lastDateDeleteBtn.addEventListener("click", function() {
                    chekLastDateBox2.style.display = "none";
                    lastDateAddBtn.style.display = "block";
                    lastDateDeleteBtn.style.display = "none";
            });
        });
        document.addEventListener("DOMContentLoaded", function() {
            lastDateAddBtn.addEventListener("click", function() {
                    lastDateDeleteBtn.style.display = "block";
                    chekLastDateBox2.style.display === "none"
                    chekLastDateBox2.style.display = "block";
                    lastDateAddBtn.style.display = "none";
                    
                
            });
        });

</script>
{% endblock %}
{% endblock %}