{% extends "base.html" %}
    {% load static %}

    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'projects_style.css' %}">
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'details_projects.css' %}">
    <link rel="stylesheet" href="{% static 'center.css' %}">
    <link rel="stylesheet" href="{% static 'projects_styles.css' %}">
    <style>
  
        .dropdown-container {
        position: relative;
        display: inline-block;
        width: 100%;
        }

       
        .dropdown-content {
            width: 100%;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: solid 1px #191970;
        border-bottom-width: 2px;
        border-radius: 5px;
        min-width: 200px; 
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        }

        .dropdown-item {
        display: block;
        padding: 12px 16px;
        cursor: pointer;
        }

        .dropdown-item:hover {
        background-color: #f1f1f1;
        }

        .show {
        display: block;
        }

    </style>

    {% endblock %}
    
    {% block title %} Income Add {% endblock %}
    {% block content %} 
<div class="body-div">
    {% include 'partials/_left_nav_bar.html' %}
    <div class="right-menu">
        <div class="nav-bar">
            <div class="nav-span">
                <div class="backBtn">
                    <a href="{% url 'projects' %}">
                        <button id="backBtn" class="button-project">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                    </a>
                    <span>
                        </span>
                </div>
                <span></span>
            </div>
        </div>
        <div class="center">
            <div class="container projeBaslatContainer">
            <div class="title">Gelir Ekle</div>
            <form id="my-form" action="{% url 'income_add' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="income_form">
                <div class="user-details">
                  
                  <div class="input-box {% if incomes_form.ProjectName_Incomes.errors %}error{% endif %}" id="ProjectName_IncomesInput">
                    <span class="details">Proje Adı</span>
                       {{ incomes_form.ProjectName_Incomes }}
                       {% if incomes_form.ProjectName_Incomes.errors %}
                                <div class="error-container">
                                    <span class="error-triangle"></span>
                                    <ul class="errorlist">
                                        {% for error in incomes_form.ProjectName_Incomes.errors %}
                                            <li class="error-message">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                   </div>
                   <div class="input-box">
                    <span class="details">Ödeme Yapan Firma</span>
                    <div class="dropdown-container">
                        <input type="text" id="id_CompanyName_Pay_Incomes" name="CompanyName_Pay_Incomes" class="myInput" placeholder="Konum Seçiniz">
                        {% if incomes_form.CompanyName_Pay_Incomes.errors %}
                                <div class="error-container">
                                    <span class="error-triangle"></span>
                                    <ul class="errorlist">
                                        {% for error in incomes_form.CompanyName_Pay_Incomes.errors %}
                                            <li class="error-message">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                      <div id="myDropdown" class="dropdown-content">
                            {% for x in client %}
                                <span value="{{x.id}}" class="dropdown-item">{{x.CompanyName_Clients}}</span>
                            {% endfor %}
                      </div>
                    </div>
                  </div>
                   <div class="input-box" name="CompanyName_ReceivePayment_Incomes">
                       <span class="details">Alıcı Firma</span>
                       {{ incomes_form.CompanyName_ReceivePayment_Incomes }}
                   </div>
                  
                   <div class="input-box" name="Amount_Incomes">
                    <span class="details">Alınan Miktar (₺)</span>
                    <input class="coc-input" type="text" name="Amount_Incomes" id="id_Amount_Incomes" step="0.0001">
                  </div>
                
                   <div class="input-box" name="Dollar_Rate_Incomes">
                       <span class="details">Dolar Kuru (₺)</span>
                       {{ incomes_form.Dollar_Rate_Incomes }}
                   </div>
                 
                   <div class="input-box" name="PaymentType_Incomes">
                    <span id="payment_type_label" class="details">Ödeme Türü<button type="button" id="last-date-add-btn" class="last-date-add-btn"><i class="fa-solid fa-plus"></i></button><button style="display:none;" type="button" id="last-date-delete-btn" class="last-date-delete-btn"><i class="fa-solid fa-minus"></i></button></span>
                    {{ incomes_form.PaymentType_Incomes }}
                   </div>
                   <div class="input-box" id="chek_date_box">
                     <span class="details">Tarih </span>
                     <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" type="date" name="ChekDate_Incomes" id="id_ChekDate_Incomes"  min='2000-01-01' max='2099-01-01'>
                   </div>
                   
                   <div class="input-box">
                      <span class="details">Kur Saati</span>
                      <select name="" id="">
                         <option value="">15:30'dan Önce</option>
                         <option value="">15:30'dan Sonra</option>
                      </select>
                   </div> 
                   <div style="display: none;" class="input-box chek-last-date-box" id="id_boxLastChekDate_Incomes">
                    <span class="details">Çek Son Kullanma Tarihi </span>
                    <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" type="date" name="LastChekDate_Incomes" id="id_LastChekDate_Incomes"  min='2000-01-01' max='2099-01-01'>
                 </div>   
                   
                </div>
                    <div class="button">
                    <input id="project-create-btn" type="submit" value="Gelir Ekle" />
                    </div>
            </form>
        </div>
  
    </div>
</div>
          
  {% block js_files %} 
 
      <script src="{% static 'income_add.js' %}"></script> 
      <script>

        $(document).ready(function() {
          // Hata mesajını 3 saniye sonra kaldır
          setTimeout(function() {
              $(".error-container").fadeOut(500, function() {
                  $(this).remove();
              });
          }, 2000);
        });
        
          document.addEventListener('DOMContentLoaded', function () {
            const input = document.getElementById('id_CompanyName_Pay_Incomes');
            const dropdown = document.getElementById('myDropdown');
            const dropdownItems = document.querySelectorAll('.dropdown-item');
          
            input.addEventListener('focus', function () {
              dropdown.classList.add('show');
            });
          
            input.addEventListener('blur', function () {
              // Input focus alanı dışına çıkınca dropdown menüyü gizle
              setTimeout(() => {
                dropdown.classList.remove('show');
              }, 200);
            });
          
            input.addEventListener('input', function () {
              const filterText = input.value.toLowerCase();
          
              dropdownItems.forEach(item => {
                const itemText = item.textContent.toLowerCase();
                if (itemText.startsWith(filterText)) {
                  item.style.display = 'block';
                } else {
                  item.style.display = 'none';
                }
              });
            });
          
            dropdownItems.forEach(item => {
              item.addEventListener('click', function () {
                input.value = this.textContent;
                dropdown.classList.remove('show');
              });
            });
          });
          
          var lastDateAddBtn = document.getElementById("last-date-add-btn");
          var lastDateDeleteBtn = document.getElementById("last-date-delete-btn");
          var chekLastDateBox = document.getElementById("id_boxLastChekDate_Incomes");
          var chekLastDateBox2 = document.querySelector('.chek-last-date-box');

          document.addEventListener("DOMContentLoaded", function() {
              lastDateDeleteBtn.addEventListener("click", function() {
                      chekLastDateBox2.style.display = "none";
                      lastDateAddBtn.style.display = "block";
                      lastDateDeleteBtn.style.display = "none";
              });
          });
          document.addEventListener("DOMContentLoaded", function() {
              lastDateAddBtn.addEventListener("click", function() {
                      lastDateDeleteBtn.style.display = "block";
                      chekLastDateBox2.style.display === "none"
                      chekLastDateBox2.style.display = "block";
                      lastDateAddBtn.style.display = "none";
                      
                  
              });
          });
          
        document.addEventListener('DOMContentLoaded', function () {
        const mySelect = document.getElementById('mySelect');

        // Seçenek değiştiğinde kontrol fonksiyonunu çağır
        mySelect.addEventListener('change', controlFunction);

        function controlFunction() {
        // Seçili olan option'un değerini al
        const selectedOption = mySelect.options[mySelect.selectedIndex].text;

        // Eğer seçili olan option içinde "Çek" kelimesi varsa işlemi gerçekleştir
        if (selectedOption.includes('Çek')) {
          console.log('Çek içeren bir seçenek seçildi.');
          // Burada başka işlemler gerçekleştirebilirsiniz
        } else {
          console.log('Çek içeren bir seçenek seçilmedi.');
        }
        }
        });
        
        var amountInputForFormat = document.querySelector("#id_Amount_Incomes");
        var amountInputReformatBtn = document.querySelector("#project-create-btn");
        var form = document.querySelector("#my-form");
        var deger;
        
        amountInputReformatBtn.addEventListener("click", function(event) {
        event.preventDefault();
        amountInputForFormat.value = clear(deger);
        form.submit();
        });  
            
        runEventListeners();
        function runEventListeners(){
        amountInputForFormat.addEventListener("input", function(event) {
            var inputValue = event.target.value;
            var clearValue = clear(inputValue);
            var formatValue = format(clearValue);
            amountInputForFormat.value = formatValue;
            deger = formatValue;
        });
        }
        function clear(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır   
            if(value != undefined){
            var cleanString = value.replace(/[^0-9.]/g, '');
            return cleanString;    // Çıktı: "123456.789"  
        }else{
            var  cleanString = 0;
            return cleanString;
        }  
        }
        
        function format(number) {
        var indexOfDot = number.indexOf('.');
        
        if (indexOfDot !== -1) {
        var integerPart = number.slice(0, indexOfDot).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        var decimalPart = number.slice(indexOfDot + 1);
        return integerPart + '.' + decimalPart;
        } else {
        var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return formattedNumber; 
        }
        }
      </script>
    
  {% endblock %}
{% endblock %} 