{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
<link rel="stylesheet" type="text/css" href="{% static 'projects_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'all_style.css' %}">
<link rel="stylesheet" href="{% static 'dist/mc-calendar.min.css' %}" />
{% endblock %}
{% block title %} Projects {% endblock %}
{% block content %}
 <div class="body-div"> 
    
    
    {% include 'partials/_left_nav_bar.html' %}
    <div class="right-menu">
      <div class="top-menu">
          <div class="menu-icon">
          </div>
        <div class="content">
          <button class="button1">Sırala</button>
          <button class="button1">Filitrele</button>
          <div class="search">
              <div class="icon"></div>
              <div class="input">
                <input id="mysearch" type="text" placeholder="Ara">
            </div>
            <span class="clear" onclick="document.getElementById('mysearch').value = '' "></span>
         </div>
      </div>
      <div class="fonction-butons">
         <a href="{% url 'income_add' %}"><button class="button2" >Gelir</button></a>
         <a href="{% url 'expenses_add' %}"><button class="button2" >Yapılan Ödeme</button></a>
         <a href="{% url 'jobhistory_add' %}"><button class="button2" >Yapılan İş</button></a>
         <a href="{% url 'project_add' %}"><button class="button-project-start" >Proje Başlat</button></a>
      </div>
   </div>
   <div class="lists">
      <div class="line"></div>
      <table id="table" class="table table-sortable">
         <thead>
            <th scope="col">Proje Adı</th>
            <th scope="col">Konum</th>
            <th scope="col">AC Güç</th>
            <th scope="col">DC Güç</th>
            <th scope="col">İş Bedeli</th>
            <th scope="col">Arazi/Çatı</th>
            <th scope="col">Tarih</th>
            <th scope="col">Durum</th>
         </thead>
         <tbody>
            {% for x in project %}
            {% include 'partials/_table-row.html' %}
            {% endfor %}
         </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% block js_files %} 
<script src="{% static 'project.js' %}"></script> 
<script src="{% static 'dist/mc-calendar.min.js' %}"></script> 
<script>
   document.addEventListener("DOMContentLoaded", function () {
  
  var numericCells = document.querySelectorAll('tr td:nth-child(5)');  
  numericCells.forEach(function (cell) {
   var numericValue = parseFloat(cell.textContent.replace(/[^\d.-]/g, ''));

   if (!isNaN(parseFloat(numericValue))) {
      cell.textContent = formatNumber(numericValue) + "$";
      console.log(formatNumber(numericValue) + "$");
  } else {
   cell.textContent = "0$"
  }
   
});
});

function formatNumber(number) {
return new Intl.NumberFormat('en-US', { maximumFractionDigits: 4 }).format(number.toFixed(4));
}

document.addEventListener("DOMContentLoaded", function() {
   var searchInput = document.getElementById("mysearch");
   var clearButton = document.querySelector(".clear");  // Bu class'ı, HTML'deki clear span elementine uygulamalısınız
   var table = document.getElementById("table");
   var rows = table.getElementsByTagName("tr");

   // Search Input'a yapılan herhangi bir değişiklikte çalışacak event listener
   searchInput.addEventListener("input", function() {
       filterTable();
   });

   // Clear Button'a tıklandığında çalışacak event listener
   clearButton.addEventListener("click", function() {
       // Search Input'un değerini boşalt
       searchInput.value = "";
       // Tüm satırları göster
       showAllRows();
   });

   // Tabloyu filtreleyen fonksiyon
   function filterTable() {
       var filter = searchInput.value.toLowerCase();

       for (var i = 0; i < rows.length; i++) {
           var row = rows[i];

        if (!row.querySelector("th")) {
           var cells = row.getElementsByTagName("td");
           var shouldShow = false;

           for (var j = 0; j < cells.length; j++) {
               var cell = cells[j];

               if (cell) {
                   var text = cell.textContent || cell.innerText;

                   if (text.toLowerCase().indexOf(filter) > -1) {
                       shouldShow = true;
                       break;
                   }
               }
           }

           if (shouldShow) {
               row.style.display = "";
           } else {
               row.style.display = "none";
           }
        }
    }
}

   // Tüm satırları gösteren fonksiyon
   function showAllRows() {
       for (var i = 0; i < rows.length; i++) {
           rows[i].style.display = "";
       }
   }
});

</script>
{% endblock %}
{% endblock %}