{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"t
    />
    <link rel="stylesheet" type="text/css" href="{% static 'realized_costr.css' %}"> 
    <link rel="stylesheet" href="{% static 'all_style.css' %}">

    {% endblock %}

{% block title %} Realized Cost {% endblock %}
{% block content %}

<div class="body-div">
  <div class="window isWindow">
    <div class="container">
        <h3 id="is-modal" class="modal-kapat">X</h3>
        <div class="title">Yapılan İş</div>
        <form id="my-form1" action="{% url 'realized_cost' project_name=project.ProjectName %}" method="post">
          {% csrf_token %}
          <div class="user-details">

            <div style="display:none;" class="input-box" name="ProjectName_JobHistory">
              <span class="details">Proje Adı</span>
              <input  name="ProjectName_JobHistory" value="{{ project.id }}">
            </div>
             <div class="input-box" name="CompanyName_FromPaymentMade_JobHistory"> 
                <span class="details">İşi Yapan Firma</span>
                {{ jobhistory_form.CompanyName_FromJobMade_JobHistory }}
             </div>
             <div class="input-box" name="CompanyName_Job_JobHistory">
                <span class="details">İş Yapılan Firma<button type="button" id="firma-add-btn" class="firma-add-btn"><i class="fa-solid fa-plus"></i></button></span>
                {{ jobhistory_form.CompanyName_Job_JobHistory }}
             </div>
             <div class="input-box">
                <span class="details">Cinsi</span>
                {{ jobhistory_form.ExpensDetails_JobHistory }}
             </div>
             <div class="input-box">
                <span class="details">Tutar (₺)</span>
                <input class="coc-input" type="text" name="Amount_JobHistory" id="id_Amount_JobHistory" step="0.0001">

             </div>
             <div class="input-box">
                <span class="details">Dolar Kuru (₺)</span>
                {{ jobhistory_form.Dollar_Rate_JobHistory }}
             </div>
             <div class="input-box">
                <span class="details">Fatura Numarası</span>
                {{ jobhistory_form.Invoice_No_JobHistory }}
             </div>
             <div class="input-box">
                <span class="details">Tarih</span>
                <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" id="tarih4" type="date" name="Date_JobHistory" min='2000-01-01' max='2099-01-01' />
             </div>
             <div class="input-box">
              <span class="details">Kur Saati</span>
              <select name="" id="">
                 <option value="">15:30'dan Önce</option>
                 <option value="">15:30'dan Sonra</option>
              </select>
           </div>
          </div>
          <div class="button">
             <input id="project-create-btn1" type="submit" value="Kaydet" />
          </div>
       </form>
    </div>
  </div>
  <div class="window giderWindow">
    <div class="container">
        <h3 id="gider-modal" class="modal-kapat">X</h3>
        <div class="title">Yapılan Ödeme</div>
        <form id="my-form2" action="{% url 'realized_cost' project_name=project.ProjectName %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="user-details">

            <div style="display:none;" class="input-box" name="ProjectName_Expenses">
              <span class="details">Proje Adı</span>
              <input  name="ProjectName_Expenses" value="{{ project.ProjectName }}">
            </div>
             <div class="input-box" name="CompanyName_Paying_Expenses">
                <span class="details">Ödeme Yapılan Firma<button type="button" id="firma-add-btn2" class="firma-add-btn"><i class="fa-solid fa-plus"></i></button></span>
                {{ expenses_form.CompanyName_Paying_Expenses }}
               
             </div>
             <div class="input-box" name="CompanyName_FromPaymentMade_Expenses"> 
                <span class="details">Ödeme Yapan Firma</span>
                {{ expenses_form.CompanyName_FromPaymentMade_Expenses }}
             </div>
             <div class="input-box">
                <span class="details">Gider Detayı</span>
                {{ expenses_form.ExpensDetails_Expenses }}
             </div>
             <div class="input-box">
                <span class="details">Tutar (₺)</span>
                <input class="coc-input" type="text" name="Amount_Expenses" id="id_Amount_Expenses" step="0.0001">
             </div>
             <div class="input-box">
                <span class="details">Dolar Kuru (₺)</span>
                {{ expenses_form.Dollar_Rate_Expenses }}
             </div>
             <div class="input-box">
                <span class="details">Banka</span>
                {{ expenses_form.Bank_Expenses }}
             </div>
            <div class="input-box">
                <span class="details">Tarih</span>
                <input style = "background:url('{% static 'images/calendar.gif' %}')99% 50% no-repeat;" class="coc-input" id="tarih5" type="date" name="Date_Expenses" min='2000-01-01' max='2099-01-01' />
             </div>
             <div class="input-box">
              <span class="details">Kur Saati</span>
              <select name="" id="">
                 <option value="">15:30'dan Önce</option>
                 <option value="">15:30'dan Sonra</option>
              </select>
           </div>
          </div>
          <div class="button">
             <input id="project-create-btn2" type="submit" value="Kaydet" />
          </div>
       </form>
    </div>
  </div> 
  <div class="window payingFirmaAddWindow">
    <div class="container">
          <h3 id="payingFirmaAdd-modal" class="modal-kapat">X</h3>
          <div class="title">Firma Ekle</div>
        <form action="{% url 'realized_cost' project_name=project.ProjectName %}" method="post">
            {% csrf_token %}
             <div class="user-details"> 
                <div class="input-box" name="CompanyName_Supplier">
                  <span class="details">Firma Adı</span>
                  {{ supplier_form.CompanyName_Supplier }}
                </div>                        
          </div>
             <div class="button">
                   <input type="submit" value="Kaydet">
             </div>
       </form>
    </div>
 </div>      
  <div class="top-menu">
    <div id="title-div">
      <a href="{% url 'home' %}">
          <span class="first-line">SOVO</span>
          <span class="second-line">TOZOGLU</span>
      </a>
    </div>

    <div id="top-right-menu">
      <div class="menu-icon">
        <a href="{% url 'project_details' project_name=project.ProjectName %}"><button id="backBtn" class="button-project"><i class="fa-solid fa-arrow-left"></i></button></a>
      </div>
      <button class="button2" id="is-ac">Yapılan İş</button>
      <div id="gerceklesen-maliyet-text"><span>{{project.ProjectName}}</span></div>
      <button id="gider-ac" class="button2" >Yapılan Ödeme</button>
      
      <div class="content">
        <button class="button1">Filitrele</button>
        <div class="search">
          <div class="icon"></div>
          <div class="input">
            <input id="mysearch" type="text" placeholder="Ara">
          </div>
          <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
        </div>
      </div>
    </div>
  </div>
    <div id="container">
      <div class="firma-bar">
        <ul id="firmaUl">
          {% for company_name in distinct_company_names %}
              {% if company_name %}
                  <li id="company-li" class="company-link" data-company="{{ company_name }}">
                    <a>{{ company_name }}</a>
                      <br>
                  </li>
              {% endif %}
          {% endfor %}
      </ul>      
        <button type="submit" id="toplam-maliyet">Toplam Maliyet</button>
    </div>
    
          
          
        <div class="right-menu">
          <div class="total-table view-2">
             <div id="total-table-head" class="head"><!--<span>Toplam Ödeme =&nbsp;</span><span>₺512.458,25</span><span>&nbsp;/&nbsp;</span><span>$52.239,20</span>-->
            </div>
            <table id="total-cost-table" class="table table-sortable">
                  <thead>
                    <tr>
                      <th>Firma Adı</th>
                      <th>Toplam İş Miktarı (TL)</th>
                      <th>Toplam İş Miktarı (USD)</th>
                      <th>Toplam Gider (TL)</th>
                      <th>Toplam Gider (USD)</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    {% for data in Total_Amount_List %}
                    {% if data.CompanyName %}
                      <tr>
                        <td>{{ data.CompanyName }}</td>
                        <td>{{ data.Job_TL }}</td>
                        <td>{{ data.Job_USD }}</td>
                        <td>{{ data.Expenses_TL }}</td>
                        <td>{{ data.Expenses_USD }}</td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>                    
                    <td class="right">Toplam:</td>
                    <td id="solTotalTableToplamTL" class="right">0</td>
                    <td id="solTotalTableToplamUSD" class="right">0</td>
                    <td id="sagTotalTableToplamTL" class="right">0</td>
                    <td id="sagTotalTableToplamUSD" class="right">0</td>
                  </tr>
                </tfoot>
          </table>  

          </div>
            <div id="c1" class="column view-1">
              <div id="head-is-ac" class="head"><span>Yapılan İş</span></div>
            <table id="table" class="table table-sortable">
              <thead>
                    <th>Fatura No</th>
                    <th scope="col">Tarih</th>
                    <th scope="col">Cinsi</th>
                    <th scope="col">Tutar(TL)</th>
                    <th scope="col">Kur</th>
                    <th scope="col">Tutar(USD)</th>
                    
                </thead>  
                  <tbody id="tbody3">   
                      {% for history in jobhistory %}
                      <tr id="tablotr-is-ac" class="table-row" data-company="{{ history.CompanyName_Job_JobHistory }}">
                          <td><button type="button" class="edit-jobhistory-btn button2" style= "background: none; border:none;"><a href= "{% url 'jobhistory_edit' jobhistory_id=history.id %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></button>{{ history.Invoice_No_JobHistory }} </td>
                          <td>{{ history.Date_JobHistory|date:"d/m/Y"}} </td>
                          <td title="{{ history.ExpensDetails_JobHistory }}" class="ellipsis">{{ history.ExpensDetails_JobHistory}}</td>
                          <td class="ellipsis">{{ history.Amount_JobHistory }}₺</td>
                          <td>{{ history.Dollar_Rate_JobHistory }}₺</td>
                          <td class="ellipsis">{{ history.Amount_TL_JobHistory }}$</td>
                          <td style="display: none;">{{ history.CompanyName_Job_JobHistory}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="right">Toplam:</td>
                    <td id="solTableToplamTL" class="right"></td>
                    <td></td>
                    <td id="solTableToplamUSD" class="right"></td>
                  </tr>
                </tfoot>
              </table>           
            </div>
            <div class="head-line view-1"></div>
            <div id="c2" class="column column2 view-1">
              <div id="head-gider-ac" class="head"><span>Yapılan Ödeme</span></div>
              <table id="table-2" class="table table-sortable">   
                <thead>
                    <th>Tarih</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Banka</th>
                    <th scope="col">Tutar(TL)</th>
                    <th scope="col">Kur</th>
                    <th scope="col">Tutar(USD)</th>
                </thead>  
                  <tbody id="tbody-2">   
                      {% for expense in expenses %}
                      <tr class="table-row" data-company="{{ expense.CompanyName_Paying_Expenses }}"> 
                        
                        <td><button type="button" class="edit-expenses-btn button2" style= "background: none; border:none;"><a href= "{% url 'expenses_edit' expenses_id=expense.id %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a>{{ expense.Date_Expenses|date:"d/m/Y" }} </td>
                          <td class="ellipsis">{{ expense.ExpensDetails_Expenses }}</td>
                          <td>{{ expense.Bank_Expenses }} </td>
                          <td class="ellipsis"> {{ expense.Amount_Expenses }}</td>
                          <td>{{ expense.Dollar_Rate_Expenses }}</td>
                          <td class="ellipsis">{{ expense.Amount_TL_Expenses }}</td>
                          <td style="display: none;">{{ expense.CompanyName_Paying_Expenses }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>                   
                    <td class="right" >Toplam:</td>
                    <td id="sagTableToplamTL" class="right">0.00₺</td>
                    <td></td>
                    <td id="sagTableToplamUSD" class="right">0.00$</td>
                  </tr>
                </tfoot>
            </table>
          </div>            

        </div>        
        <div id="genel-toplam">
          <span class="view-1">Genel Toplam</span>
          <label id="genelToplamTL" class="view-1" for="">0.00₺</label>
          <label id="genelToplamUSD" class="view-1" for="">0.00$</label>
        </div>            
      </div>   

  </div>


  {% block js_files %}

  <script src="{% static 'realized_cost.js' %}"></script> 
  <script src="{% static 'index.js' %}"></script> 
  <script>
 document.addEventListener("DOMContentLoaded", function() {
    // İlk li elemanını seç
    var firstLiElement = document.querySelector("#firmaUl li:first-child");

    // İlk li elemanına tıklama olayını tetikle
    if (firstLiElement) {
        firstLiElement.click();
    }
});

document.addEventListener("DOMContentLoaded", function() {
    // Tüm li elemanlarını seç
    var companyLinks = document.querySelectorAll(".company-link");

    // Her li elemanına tıklama olayı ekle
    companyLinks.forEach(function(link) {
      link.addEventListener("click", function() {
        // Tüm li elemanlarının arka plan rengini sıfırla
        companyLinks.forEach(function(li) {
          li.style.backgroundColor = ""; // veya istediğiniz arka plan rengini belirleyebilirsiniz
          li.style.color = "";
        });

        // Tıklanan li elemanının arka plan rengini değiştir
        this.style.backgroundColor = "#7597c0"; // veya istediğiniz arka plan rengini belirleyebilirsiniz
        this.style.color = "#2c3e50";

        // Diğer işlemleri buraya ekleyebilirsiniz, örneğin totalShow() fonksiyonunu çağırmak
        totalShow();
      });
    });
  });
document.addEventListener("DOMContentLoaded", function () {
    // Get all company links
    var companyLinks = document.querySelectorAll(".company-link");

    // Add click event listener to each company link
    companyLinks.forEach(function (link) {
        link.addEventListener("click", function () {
            var selectedCompany = this.dataset.company;

            // Hide all rows
            var allRows = document.querySelectorAll(".table-row");
            allRows.forEach(function (row) {
                row.style.display = "none";
            });

            // Show rows for the selected company
            var selectedRows = document.querySelectorAll('.table-row[data-company="' + selectedCompany + '"]');
            selectedRows.forEach(function (row) {
                row.style.display = "";

                // Format numeric values TL
                var numericCells = row.querySelectorAll('td:nth-child(4)');
                numericCells.forEach(function (cell) {
                    var numericValue = parseFloat(cell.textContent.replace(/[^\d.-]/g, ''));                    
                    if(numericValue.toString() != "NaN"){
                      cell.textContent =  formatNumber(numericValue)+' '+'₺' ;
                    }
                    else{
                      cell.textContent = '0₺';
                    }
                });
                // Format numeric values USD
                numericCells = row.querySelectorAll('td:nth-child(6)');
                numericCells.forEach(function (cell) {
                    numericValue = parseFloat(cell.textContent.replace(/[^\d.-]/g, ''));
                    
                    if(numericValue.toString() != "NaN"){
                      cell.textContent =  formatNumber(numericValue)+' $';
                    }else{
                      cell.textContent = '0$';
                    }
                });
                // Format numeric values KuR
                numericCells = row.querySelectorAll('td:nth-child(5)');
                numericCells.forEach(function (cell) {
                    numericValue = parseFloat(cell.textContent.replace(/[^\d.-]/g, ''));
                    
                    if(numericValue.toString() != "NaN"){
                      cell.textContent =  formatNumber(numericValue) + ' ₺';
                    }else{
                      cell.textContent = '0₺';
                    }
                });
            });
        
        
        
        
        
          });
    });

    function formatNumber(number) {
      return new Intl.NumberFormat('en-US', { maximumFractionDigits: 4 }).format(number.toFixed(4));
    }
});





//--------------
document.addEventListener("DOMContentLoaded", function () {
    // Tablodaki tüm satırları seç
    var rows = document.querySelectorAll("#total-cost-table tbody tr");

    rows.forEach(function (row) {
      // 2., 3., 4., ve 5. sütunları al, temizle ve sayıya çevir
      var jobTLCell = row.querySelector('td:nth-child(2)');
      var jobUSDCell = row.querySelector('td:nth-child(3)');
      var expensesTLCell = row.querySelector('td:nth-child(4)');
      var expensesUSDCell = row.querySelector('td:nth-child(5)');

      var jobTLValue = parseFloat(removeSymbols(jobTLCell.textContent));
      var jobUSDValue = parseFloat(removeSymbols(jobUSDCell.textContent));
      var expensesTLValue = parseFloat(removeSymbols(expensesTLCell.textContent));
      var expensesUSDValue = parseFloat(removeSymbols(expensesUSDCell.textContent));

      // NaN veya None kontrolü ekleyerek sıfır ata
      jobTLValue = isNaN(jobTLValue) || jobTLValue === null ? 0 : jobTLValue;
      jobUSDValue = isNaN(jobUSDValue) || jobUSDValue === null ? 0 : jobUSDValue;
      expensesTLValue = isNaN(expensesTLValue) || expensesTLValue === null ? 0 : expensesTLValue;
      expensesUSDValue = isNaN(expensesUSDValue) || expensesUSDValue === null ? 0 : expensesUSDValue;

      // Temizlenmiş değerleri para birimi şeklinde formatla
      var formattedJobTL = formatCurrency(jobTLValue, '₺');
      var formattedJobUSD = formatCurrency(jobUSDValue, '$');
      var formattedExpensesTL = formatCurrency(expensesTLValue, '₺');
      var formattedExpensesUSD = formatCurrency(expensesUSDValue, '$');

      // Sonuçları hücrelere yaz
      jobTLCell.textContent = formattedJobTL;
      jobUSDCell.textContent = formattedJobUSD;
      expensesTLCell.textContent = formattedExpensesTL;
      expensesUSDCell.textContent = formattedExpensesUSD;
    });
  });

  // Sembol ve boşlukları temizleyen yardımcı fonksiyon
  function removeSymbols(value) {
    return value.replace(/[^0-9\.]/g, '');
  }

  // Sayıyı para birimi şeklinde formatlayan yardımcı fonksiyon
  function formatCurrency(value, currencySymbol) {
    return value.toFixed(4).replace(/\d(?=(\d{3})+\.)/g, '$&,') + ' ' + currencySymbol;
  }




  var amountInputForFormat1 = document.querySelector("#id_Amount_JobHistory");
    var amountInputForFormat2 = document.querySelector("#id_Amount_Expenses");
    var amountInputReformatBtn1 = document.querySelector("#project-create-btn1");
    var amountInputReformatBtn2 = document.querySelector("#project-create-btn2");
    var form1 = document.querySelector("#my-form1");
    var form2 = document.querySelector("#my-form2");
    var deger;
    
    amountInputReformatBtn1.addEventListener("click", function(event) {
    event.preventDefault();
    amountInputForFormat1.value = clear(deger);
    form1.submit();
    });
    amountInputReformatBtn2.addEventListener("click", function(event) {
    event.preventDefault();
    amountInputForFormat2.value = clear(deger);
    form2.submit();
    });
        
    runEventListeners(amountInputForFormat1);
    runEventListeners(amountInputForFormat2);
    function runEventListeners(x){
    x.addEventListener("input", function(event) {
        var inputValue = event.target.value;
        var clearValue = clear(inputValue);
        var formatValue = format(clearValue);
        x.value = formatValue;
        deger = formatValue;
    });
    }
    function clear(value){   // Alfasayısal olmayan ve nokta olmayan karakterleri kaldır   
      if(value != undefined){
        var cleanString = value.replace(/[^0-9.]/g, '');
        return cleanString;    // Çıktı: "123456.789"  
    }else{
        var  cleanString = 0;
        return cleanString;
    }      
    }
    
    function format(number) {
    var indexOfDot = number.indexOf('.');
    
    if (indexOfDot !== -1) {
    var integerPart = number.slice(0, indexOfDot).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    var decimalPart = number.slice(indexOfDot + 1);
    return integerPart + '.' + decimalPart;
    } else {
    var formattedNumber = number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return formattedNumber; 
    }
    }
    document.addEventListener("DOMContentLoaded", function() {
      var searchInput = document.getElementById("mysearch");
      var clearButton = document.querySelector(".clear");
      var tables = document.querySelectorAll(".table-sortable");
  
      // Search Input'a yapılan herhangi bir değişiklikte çalışacak event listener
      searchInput.addEventListener("input", function() {
          filterTables();
      });
  
      // Clear Button'a tıklandığında çalışacak event listener
      clearButton.addEventListener("click", function() {
          // Search Input'un değerini boşalt
          searchInput.value = "";
          // Tüm tabloları göster
          showAllRows();
      });
  
      // Tüm tabloları filtreleyen fonksiyon
      // ...

// Tüm tabloları filtreleyen fonksiyon
function filterTables() {
  var filter = searchInput.value.toLowerCase();

  tables.forEach(function (table) {
      var rows = table.getElementsByTagName("tr");

      for (var i = 0; i < rows.length; i++) {
          var row = rows[i];

          // Sadece gizlenmemiş satırları ve başlık satırlarını filtrele
          if (row.style.display !== "none" && !row.querySelector("th")) {
              var cells = row.getElementsByTagName("td");
              var shouldShow = false;

              for (var j = 0; j < cells.length; j++) {
                  var cell = cells[j];

                  if (cell) {
                      var text = cell.textContent || cell.innerText;

                      if (text.toLowerCase().indexOf(filter) > -1) {
                          shouldShow = true;
                          break;
                      }
                  }
              }

              if (shouldShow) {
                  row.style.display = "";
              } else {
                  row.style.display = "none";
              }
          }
      }
  });
}

// ...

  
      // Tüm satırları gösteren fonksiyon
      function showAllRows() {
          tables.forEach(function(table) {
              var rows = table.getElementsByTagName("tr");
  
              for (var i = 0; i < rows.length; i++) {
                  rows[i].style.display = "";
              }
          });
      }
  });
  
  
   

</script>

 
  {% endblock %}

{% endblock %}

