{% extends "base.html" %}
    {% load static %}
    {% load custom_tags %}

    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" href="{% static 'projects_style.css' %}">
    <link rel="stylesheet" href="{% static 'all_style.css' %}">
    <link rel="stylesheet" href="{% static 'details_projects.css' %}">
    <link rel="stylesheet" href="{% static 'center.css' %}">

    {% endblock %}
    
    {% block title %} Supplier Edit {% endblock %}
    {% block content %} 
<div class="body-div">
    {% include 'partials/_left_nav_bar.html' %}
<div class="right-menu">
    <div class="nav-bar">
        <div class="nav-span">
            <div class="backBtn">
                <a href="{% url 'supplier' %}">
                    <button id="backBtn" class="button-project">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
                <span>
                    </span>
            </div>
            <div class="span-box"><span>{{supplier_edit.CompanyName_Supplier}}</span></div>
            <span></span>
        </div>
    </div>
    <div class="center">
      <div class="container">
          <div class="title"><span>Tedarikçi Güncelle</span></div>
          <form action="{% url 'supplier_edit' supplier_name=supplier_edit.CompanyName_Supplier %}" method="post">
            {% csrf_token %}
            <div class="user-details"> 
                <div style="display:none;" class="input-box" name="CompanyName">
                  <span class="details">Firma Adı</span>
                  {{ edit_form.CompanyName_Supplier }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">Firma Adı</span>
                  <input id="id_CompanyName_Supplier_New"  name="CompanyName_Supplier_New" value="{{edit_form.CompanyName_Supplier.value}}" />
                  <p id="companyNameError" style="color: #191970;"></p>

                </div>  
                <div class="input-box" name="CompanyName">
                  <span class="details">Muhatap</span>
                  {{ edit_form.ContactPerson }}
                </div>  
                <div class="input-box" name="CompanyName">
                  <span class="details">Telefon</span>
                  {{ edit_form.PhoneNumber }}
                </div>    
                <div class="input-box" name="CompanyName">
                  <span class="details">E-posta</span>
                  {{ edit_form.Email }}
                </div>    
                <div class="input-box">
                  <span class="details">Konum</span>
                  <select class="js-example-basic-single" name="Location" id="id_Location">
                    {% for x in locations %}
                      {% if supplier_edit.Location == x.Location  %}
                        <option value="{{x.id}}">{{x.Location}}</option>
                      {% endif %}
                    {% endfor %}
                    {% for x in locations %}
                      {% if supplier_edit.Location != x.Location  %}
                        <option value="{{x.id}}">{{x.Location}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
              </div>      
              </div>
              <div class="button">
                  <input type="submit" value="Kaydet"/>
              </div>
          </form>
      </div>
    </div>
</div>
</div>
          
  {% block js_files %} 
  <script src="{% static 'client.js' %}"></script> 
  <script>
    var companyNameInput = document.getElementById("id_CompanyName_Supplier_New");
    var companyNameError = document.getElementById("companyNameError");

    companyNameInput.addEventListener("blur", function() {
        if (companyNameInput.value.trim() === "") {
            companyNameError.textContent = "Firma Adını Güncellemediniz";
        } else {
            companyNameError.textContent = "";
        }
    });
</script>
  
  {% endblock %}

  {% endblock %} 
  