@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*  Body    */

.body-div{
    display: flex;
    height: 100vh;   
    flex-direction: row; 
}
.right-menu{
    background-color: #18283b;
    width: calc(100% - 256px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

            /*      RIGHT MENU      */


.card{    
    background: #fff;
    border-radius: 15px;    
    margin-right: 5px;
    border: 1px solid #000;
    flex: 1;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}   
.up{
    width: calc( 100% - 10px);
    display: flex;
    height:calc( 100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
}
.up div{
    height: 100%;
    width: 100%;
}
.down{
    width: calc( 100% - 10px);
    height:calc( 100% - 5px);
    display: flex;
    margin-bottom: 5px;
}
.down div{
    height: 100%;
    width: 100%;
}
